
ol {
  list-style: none;
  height: 15rem;
  overflow-y: scroll;
  position: relative;
  scroll-behavior: smooth;

  padding: 0


}
.clue {
  display: flex;
  margin: 0 0 .6rem;
  transition: 3s;

  span {

    &.clue-num {
      display: inline-block;
      text-align: right;
      width: 2rem;
      font-weight: bold;
      flex-grow: 0;
      flex-basis: 2rem;
    }

    &.clue-text {
      display: inline-block;
      margin-left: 1rem;
    
    }

  }
}

#active-clue {

  .clue-num {
    background: #99ff99;
    border: solid #99ff99 10px;
  }

  .clue-text {
    background: #bbbbff;
    border: solid #bbbbff 10px;
  }

}