
.meta-stuff {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1rem;
}

#board {
  display: flex;
}

#board-grid {
  margin: 1rem;
}

#clues {


}

.solved {
  background: #99ff99;
}

.quasi-solved {
  background: #ff9999;
}