
.square {
  display: inline-block;

  stroke: #000;
  stroke-width: 2;
  fill: #fff;
}

.text-input {
  fill: #000;
}


.square-black {
  fill: #000;
}


.square-active {
  fill: #99ff99;
}

.square-inword {
  fill: #bbbbff;
}